.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.divTable {  
  height: 500px;
  width: 700px;
  overflow-x: auto;
  overflow-y: auto;
  display: none;
  margin-bottom: 20px;
}

table {
  border-collapse: collapse;
  border: 2px black solid;
  font: 12px sans-serif;
}

td {
  max-width:67%;
  border: 1px black solid;
  padding: 5px;
  white-space:pre-wrap; 
  word-wrap:break-word;
}