{
  "info" : {
    "description" : "Universal API: Automatically generating SPARQL queries to access Linked Open Data endpoints",
    "title" : "UAPI to LOD",
    "version" : "1.0.0"
  },
  "openapi" : "3.0.0",
  "servers" : [ {
    "url" : "http://wake.dlsi.ua.es/UniversalAPIQuery"
  } ],
  "components" : {
    "schemas" : {
    }
  },
  "paths" : {
    "/" : {
      "get" : {
        "summary" : "GET data from endpoint",
        "operationId" : "getEndpointData",
        "description" : "Get data from the specified enpoint and resource",
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "text/html" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          }
        },
        "parameters" : [ {
          "schema" : {
            "type" : "string"
          },
          "in" : "query",
          "name" : "endpoint",
          "description" : "Endpoint URL",
          "default" : "defaultEndpointURL",
          "required" : true
        }, {
          "schema" : {
            "type" : "string"
          },
          "in" : "query",
          "name" : "path",
          "description" : "Resource of the endpoint to retrieve the data.",
          "required" : true,
          "examples" : {}
        }, {          
          "in" : "query",
          "name" : "properties",
          "description" : "Filter the results by any of the properties of the resource. Check the components section to check which properties belong to each resource.",
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "propertyName" : {
                    "type" : "string",
                    "example" : "propertyValueExample"
                  }
                }
              }
            }
          }
        }, {
          "schema" : {
            "type" : "string",
            "enum" : [ "json", "json-ld", "csv", "triples" ]
          },
          "in" : "query",
          "name" : "format",
          "description" : "Format of the results (json, json-ld, csv, triples)."
        }, {
          "schema" : {
            "type" : "integer"
          },
          "in" : "query",
          "name" : "limit",
          "description" : "Maximum number of results."
        }, {
          "schema" : {
            "type" : "integer"
          },
          "in" : "query",
          "name" : "offset",
          "description" : "Starting point of results for pagination purposes."
        } ]
      }
    },
    "/docs" : {
      "get" : {
        "summary" : "GET documentation",
        "operationId" : "getDocumentation",
        "description" : "GET documentation in OpenAPI format of the specified endpoint",
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "text/html" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          }
        },
        "parameters" : [ {
          "schema" : {
            "type" : "string"
          },
          "in" : "query",
          "name" : "endpoint",
          "description" : "Endpoint URL",
          "default" : "defaultEndpointURL",
          "required" : true
        } ]
      }
    },
    "/sparql" : {
      "get" : {
        "summary" : "GET data from endpoint (SPARQL query)",
        "operationId" : "getDataFromSPARQL",
        "description" : "GET  data from endpoint through a SPARQL query",
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "text/html" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          }
        },
        "parameters" : [ {
          "schema" : {
            "type" : "string"
          },
          "in" : "query",
          "name" : "endpoint",
          "description" : "Endpoint URL",
          "default" : "defaultEndpointURL",
          "required" : true
        }, {
          "schema" : {
            "type" : "string"
          },
          "in" : "query",
          "name" : "query",
          "description" : "To specify the query in SPARQL directly.",
          "example" : "SELECT%20DISTINCT%20%3Fsubject%20%3Fpredicate%20%3Fobject%20WHERE%20%7B%20%3Fsubject%20rdf%3Atype%20%3Chttp%3A%2F%2Fgeo.linkeddata.es%2Fontology%2FProvincia%3E%20.%20%3Fsubject%20%3Fpredicate%20%3Fobject%20.%20%20%7D",
          "required" : true
        }, {
          "schema" : {
            "type" : "string",
            "enum" : [ "json", "json-ld", "csv", "triples" ]
          },
          "in" : "query",
          "name" : "format",
          "description" : "Format of the results (json, json-ld, csv, triples)."
        }, {
          "schema" : {
            "type" : "integer"
          },
          "in" : "query",
          "name" : "limit",
          "description" : "Maximum number of results."
        }, {
          "schema" : {
            "type" : "integer"
          },
          "in" : "query",
          "name" : "offset",
          "description" : "Starting point of results for pagination purposes."
        } ]
      }
    }
  }
}